**/__pycache__/

/.git/
/.idea/
/_notes/
/bin/
/build/
/dist/

/docs/source/_temp/
/docs/source/_static
/docs/source/_templates
/docs/build/
/docs/make.bat
/docs/Makefile

/src/mh_tgtools.egg-info

/output
/ssh_logs


